@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

.slideshowSlider {
  white-space: nowrap;
  transition: ease 1000ms;
}

.slideshow {
  margin: 0 auto;
  overflow: hidden;
  width: 100%;
}

.slide {
  display: inline-block;
  height: 500px;
  width: 100%;
  object-fit: cover;
}

@font-face {
  font-family: "Pixellet";
  src: url("/assets/fonts/pixellet/pixellet.ttf");
}

@font-face {
  font-family: "PixelletMedium";
  src: url("/assets/fonts/pixellet/pixelletMedium.ttf");
}

@font-face {
  font-family: "PixelletBold";
  src: url("/assets/fonts/pixellet/pixelletbold.ttf");
}

@font-face {
  font-family: "PixelletItalic";
  src: url("/assets/fonts/pixellet/pixelletitalic.ttf");
}

@font-face {
  font-family: "PixelletBoldItalic";
  src: url("/assets/fonts/pixellet/pixelletbolditalic.ttf");
}

@font-face {
  font-family: "PixelletCircle";
  src: url("/assets/fonts/pixellet/pixelletcircle.ttf");
}
